{% include 'common/navTop.html.twig' %}
{% include 'common/navLeft.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="card">
                            <div class="header">
                                <h2>
                                    Liste des projets scolaires
                                </h2>
                                <ul class="header-dropdown m-r--5">
                                    <li class="dropdown">
                                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">more_vert</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="" class=" waves-effect waves-block">Ajouter un projet</a></li>
                                            <li><a href="" class=" waves-effect waves-block">Modifier un projet</a></li>
                                            <li><a href="" class=" waves-effect waves-block">Quitter un projet</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="body">
                                <table id="mainTable" class="table table-striped" style="cursor: pointer;">
                                    <thead>
                                    <tr>
                                        <th>Nom du projet</th>
                                        <th>Priorité</th>
                                        <th>Avancement</th>
                                        <th>Jetons</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td tabindex="1"><a href="projet" style="text-decoration: none; color: black;">KCREA</a></td>
                                        <td tabindex="1">3</td>
                                        <td tabindex="1">40%</td>
                                        <td tabindex="1">50</td>
                                    </tr>
                                    <tr>
                                        <td tabindex="1">PPE</td>
                                        <td tabindex="1">-</td>
                                        <td tabindex="1">100%</td>
                                        <td tabindex="1">20</td>
                                    </tr>
                                    <tr>
                                        <td tabindex="1">BdD</td>
                                        <td tabindex="1">-</td>
                                        <td tabindex="1">100%</td>
                                        <td tabindex="1">15</td>
                                    </tr>
                                    <tr>
                                        <td tabindex="1">Communication</td>
                                        <td tabindex="1">2</td>
                                        <td tabindex="1">80%</td>
                                        <td tabindex="1">0</td>
                                    </tr>
                                    <tr>
                                        <td tabindex="1">Droit</td>
                                        <td tabindex="1">1</td>
                                        <td tabindex="1">90%</td>
                                        <td tabindex="1">30</td>
                                    </tr>
                                    <tr>
                                        <td tabindex="1">Business Plan</td>
                                        <td tabindex="1">1</td>
                                        <td tabindex="1">30%</td>
                                        <td tabindex="1">0</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <input style="position: absolute; display: none;"></div>
                        </div>
                    </div>
                    <div class="col-lg-3">

                        <div class="info-box bg-red hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons"><a href="help" style="text-decoration: none; color: white;">supervisor_account</a></i>
                            </div>

                            <div class="content">
                                <div class="text">APPELER UN ENSEIGNANT</div>
                                <div class="number">AIDE</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="card">
                            <div class="header">
                                <h2>
                                    Liste des projets personnels
                                </h2>
                                <ul class="header-dropdown m-r--5">
                                    <li class="dropdown">
                                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">more_vert</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="" class=" waves-effect waves-block">Ajouter un projet</a></li>
                                            <li><a href="" class=" waves-effect waves-block">Modifier un projet</a></li>
                                            <li><a href="" class=" waves-effect waves-block">Quitter le projet</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="body">
                                <table id="mainTable" class="table table-striped" style="cursor: pointer;">
                                    <thead>
                                    <tr>
                                        <th>Nom du projet</th>
                                        <th>Priorité</th>
                                        <th>Avancement</th>
                                        <th>Jetons</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td tabindex="1">PROJET1</td>
                                        <td tabindex="1">3</td>
                                        <td tabindex="1">40%</td>
                                        <td tabindex="1">0</td>
                                    </tr>
                                    <tr>
                                        <td tabindex="1">PROJET2</td>
                                        <td tabindex="1">1</td>
                                        <td tabindex="1">75%</td>
                                        <td tabindex="1">0</td>
                                    </tr>

                                    </tbody>
                                </table>
                                <input style="position: absolute; display: none;"></div>
                        </div>
                    </div>
                </div>
                <div class="large-12">


                </div>














            </div>
        </div>
    </section>
    </body>
{% endblock %}
